<div class="resume">
    <h1>My Resume</h1>
    <a href="assets/resume.pdf" download>Download CV</a>
    
    <h2>Experience</h2>
    <ul>
      <li>
        <strong>Senior Support Engineer</strong> at Tigo Guatemala<br>
        November 2021 - Present (2 years 8 months)
      </li>
      <li>
        <strong>Ingeniero Soporte Posventa</strong> at Tigo Guatemala<br>
        October 2021 - November 2021 (2 months)
      </li>
      <li>
        <strong>Senior NOC Engineer</strong> at Tigo Guatemala<br>
        March 2014 - October 2021 (7 years 8 months)
      </li>
      <li>
        <strong>NOC Engineer</strong> at Tigo Guatemala<br>
        September 2013 - March 2014 (7 months)
      </li>
      <li>
        <strong>Senior Customer Service Engineer</strong> at Tigo Guatemala<br>
        September 2012 - September 2013 (1 year 1 month)
      </li>
      <li>
        <strong>Customer Service Agent</strong> at Tigo Guatemala<br>
        June 2010 - September 2012 (2 years 4 months)
      </li>
    </ul>
  
    <h2>Education</h2>
    <ul>
      <li>
        <strong>Universidad Mariano Gálvez</strong><br>
        Ingeniería en Sistemas (January 2022 - December 2027)
      </li>
      <li>
        <strong>GAIA Business School</strong><br>
        Bachelor of Business Administration - BBA (2019 - 2020)
      </li>
      <li>
        <strong>Universidad Rafael Landívar</strong><br>
        Licenciatura, Administración y gestión de empresas (2017 - 2020)
      </li>
      <li>
        <strong>Московский Энергетический Институт (Технический Университет)</strong><br>
        Mecatrónica y Sistemas Robotrónicos (December 2007 - January 2009)
      </li>
      <li>
        <strong>Universidad de San Carlos de Guatemala</strong><br>
        Ingeniería eléctrica y electrónica (2009 - 2009)
      </li>
    </ul>
  
    <h2>Certifications</h2>
    <ul>
      <li>Cómo alcanzar la felicidad permanente creando con propósito</li>
      <li>Nano Tips for Using ChatGPT for Business with Rachel Woods</li>
      <li>Transitioning from Technical Professional to Manager</li>
      <li>ChatGPT for Web Developers</li>
      <li>Fundamentos de Inteligencia artificial: Machine Learning</li>
    </ul>
  </div>
  